# table

In [1]:
from prettytable import PrettyTable

table2 = PrettyTable()
table2.field_names=["aggs","join"]
table2.add_row(["use mean aggregiation for some columns","left join with main table"])
table2.add_row(["use max aggregiation for some columns","left join with main table"])
table2.add_row(["use count aggregiation for some columns","left join with main table"])
table2.add_row(["use std aggregiation for some columns","left join with main table"])

# approch

In [2]:
table2

+-----------------------------------------+---------------------------+
|                   aggs                  |            join           |
+-----------------------------------------+---------------------------+
|  use mean aggregiation for some columns | left join with main table |
|  use max aggregiation for some columns  | left join with main table |
| use count aggregiation for some columns | left join with main table |
|  use std aggregiation for some columns  | left join with main table |
+-----------------------------------------+---------------------------+

# imports

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# showing data

In [2]:
new_app_data=pd.read_csv("new_application_table.csv")

In [3]:
installment_data=pd.read_csv("datasets/installments_payments.csv")  
installment_data.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [4]:
pos_data=pd.read_csv("datasets/POS_CASH_balance.csv")
pos_data.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

# agg function

In [5]:
def agg(column_names, type_of_agg, id, data,table_name):
    aggregated_data = data.groupby(id).agg({col: type_of_agg for col in column_names}).reset_index()
    new_column_names = {col: f"{col}_{type_of_agg}_{table_name}" for col in column_names}
    aggregated_data.rename(columns=new_column_names, inplace=True)

    return aggregated_data

# POS CASH agg and join

In [6]:
agg_columns=["SK_DPD","SK_DPD_DEF"]
agg_std_for_pos_columns=agg(agg_columns,"std","SK_ID_CURR",pos_data,"pos_data")
merge_std_pos_app=new_app_data.merge(agg_std_for_pos_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_std_pos_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0

In [7]:
agg_columns=["CNT_INSTALMENT_FUTURE"]
agg_count_for_pos_columns=agg(agg_columns,"std","SK_ID_CURR",pos_data,"pos_data")
merge_count_pos_app=new_app_data.merge(agg_count_for_pos_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_count_pos_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307

In [8]:
agg_mean_columns=["CNT_INSTALMENT"]
agg_mean_for_pos_columns=agg(agg_mean_columns,"mean","SK_ID_CURR",pos_data,"pos_data")
merge_mean_pos_app=new_app_data.merge(agg_mean_for_pos_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_mean_pos_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333

In [9]:
agg_max_columns=["MONTHS_BALANCE"]
agg_max_for_pos_columns=agg(agg_max_columns,"max","SK_ID_CURR",pos_data,"pos_data")
merge_max_pos_app=new_app_data.merge(agg_max_for_pos_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_max_pos_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0

In [10]:
pos_data["NAME_CONTRACT_STATUS"].value_counts()

NAME_CONTRACT_STATUS
Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: count, dtype: int64

In [11]:
agg_contract = pos_data.groupby(['SK_ID_CURR', 'NAME_CONTRACT_STATUS']).size().reset_index(name='count')
pivot_of_contract = agg_contract.pivot_table(index='SK_ID_CURR', columns='NAME_CONTRACT_STATUS', values='count', fill_value=0)
pivot_of_contract = pivot_of_contract.rename(columns={
    "Active": "Active_contract_status_pos_table",
    "Completed": "Completed_contract_status_pos_table",
    "Demand": "Demand_contract_status_pos_table",
    "Returned to the store":"Returned_contract_status_pos_table",
    "Approved":"Approved_contract_status_pos_table",
    "Amortized debt":"Amortized_contract_status_pos_table",
    "Canceled":"Canceled_contract_status_pos_table",
    "XNA":"XNA_from_contract_from_previous_table",

    
})
merge_pivot_contract_new_app=new_app_data.merge(pivot_of_contract,how="left",on="SK_ID_CURR")
new_app_data=merge_pivot_contract_new_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0

In [12]:
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0

# # installments_payments agg and join

In [13]:
aggs_std_columns=["DAYS_INSTALMENT","DAYS_ENTRY_PAYMENT"]
agg_std_for_installments_columns=agg(aggs_std_columns,"std","SK_ID_CURR",installment_data,"installments_payments")
merge_std_installments_app=new_app_data.merge(agg_std_for_installments_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_std_installments_app.copy()

In [15]:
aggs_count_columns=["NUM_INSTALMENT_NUMBER"]
agg_count_for_installments_columns=agg(aggs_count_columns,"count","SK_ID_CURR",installment_data,"installments_payments")
merge_count_installments_app=new_app_data.merge(agg_count_for_installments_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_count_installments_app.copy()

In [16]:
aggs_unique_columns=["NUM_INSTALMENT_VERSION"]
agg_unique_for_installments_columns=agg(aggs_unique_columns,"nunique","SK_ID_CURR",installment_data,"installments_payments")
merge_unique_installments_app=new_app_data.merge(agg_unique_for_installments_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_unique_installments_app.copy()

In [17]:
aggs_sum_columns=["AMT_INSTALMENT","AMT_PAYMENT"]
agg_sum_for_installments_columns=agg(aggs_sum_columns,"sum","SK_ID_CURR",installment_data,"installments_payments")
merge_sum_installments_app=new_app_data.merge(agg_sum_for_installments_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_sum_installments_app.copy()

In [18]:
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975

# credit agg and join

In [20]:
credit_data=pd.read_csv("datasets/credit_card_balance.csv")

In [21]:
agg_contract = credit_data.groupby(['SK_ID_CURR', 'NAME_CONTRACT_STATUS']).size().reset_index(name='count')
pivot_of_contract = agg_contract.pivot_table(index='SK_ID_CURR', columns='NAME_CONTRACT_STATUS', values='count', fill_value=0)
pivot_of_contract = pivot_of_contract.rename(columns={
    "Active": "Active_contract_status_credit_table",
    "Completed": "Completed_contract_status_credit_table",
    "Demand": "Demand_contract_status_credit_table",
    "Signed":"Signed_contract_status_credit_table",
    "Sent proposal":"prposal_contract_status_credit_table",
    "Refused":"Refused_contract_status_credit_table",
    "Approved":"Approved_contract_status_credit_table",

    
})
merge_pivot_contract_new_app=new_app_data.merge(pivot_of_contract,how="left",on="SK_ID_CURR")
new_app_data=merge_pivot_contract_new_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments,Active_contract_status_credit_table,Approved_contract_status_credit_table,Completed_contract_status_credit_table,Demand_contract_status_credit_table,Refused_contract_status_credit_table,prposal_contract_status_credit_table,Signed_contract_status_credit_table
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415,6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:

aggs_max_columns = [
    "MONTHS_BALANCE",
]

agg_max_for_credit_columns=agg(aggs_max_columns,"max","SK_ID_CURR",credit_data,"credit_data")
merge_max_credit_app=new_app_data.merge(agg_max_for_credit_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_max_credit_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments,Active_contract_status_credit_table,Approved_contract_status_credit_table,Completed_contract_status_credit_table,Demand_contract_status_credit_table,Refused_contract_status_credit_table,prposal_contract_status_credit_table,Signed_contract_status_credit_table,MONTHS_BALANCE_max_credit_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415,6.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
agg_columns=["CNT_INSTALMENT_MATURE_CUM"]
agg_sum_for_credit_columns=agg(agg_columns,"sum","SK_ID_CURR",credit_data,"credit_data")
merge_sum_credit_app=new_app_data.merge(agg_sum_for_credit_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_sum_credit_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments,Active_contract_status_credit_table,Approved_contract_status_credit_table,Completed_contract_status_credit_table,Demand_contract_status_credit_table,Refused_contract_status_credit_table,prposal_contract_status_credit_table,Signed_contract_status_credit_table,MONTHS_BALANCE_max_credit_data,CNT_INSTALMENT_MATURE_CUM_sum_credit_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415,6.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
agg_columns=["SK_DPD","SK_DPD_DEF"]
agg_std_for_credit_columns=agg(agg_columns,"std","SK_ID_CURR",credit_data,"credit_data")
merge_std_credit_app=new_app_data.merge(agg_std_for_credit_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_std_credit_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments,Active_contract_status_credit_table,Approved_contract_status_credit_table,Completed_contract_status_credit_table,Demand_contract_status_credit_table,Refused_contract_status_credit_table,prposal_contract_status_credit_table,Signed_contract_status_credit_table,MONTHS_BALANCE_max_credit_data,CNT_INSTALMENT_MATURE_CUM_sum_credit_data,SK_DPD_std_credit_data,SK_DPD_DEF_std_credit_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415,6.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
agg_columns = [
        "AMT_BALANCE",
        "AMT_CREDIT_LIMIT_ACTUAL",
        "AMT_DRAWINGS_ATM_CURRENT",
        "AMT_DRAWINGS_CURRENT",
        "AMT_DRAWINGS_OTHER_CURRENT",
        "AMT_DRAWINGS_POS_CURRENT",
        "AMT_INST_MIN_REGULARITY",
        "AMT_PAYMENT_CURRENT",
        "AMT_PAYMENT_TOTAL_CURRENT",
        "AMT_RECEIVABLE_PRINCIPAL",
        "AMT_RECIVABLE",
        "AMT_TOTAL_RECEIVABLE",
        "CNT_DRAWINGS_ATM_CURRENT",
        "CNT_DRAWINGS_CURRENT",
        "CNT_DRAWINGS_OTHER_CURRENT",
        "CNT_DRAWINGS_POS_CURRENT",

]

agg_mean_for_credit_columns=agg(agg_columns,"mean","SK_ID_CURR",credit_data,"credit_data")
merge_mean_credit_app=new_app_data.merge(agg_mean_for_credit_columns,how='left',on='SK_ID_CURR')
new_app_data=merge_mean_credit_app.copy()
new_app_data.head()

,SK_ID_CURR,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_PHONE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_WORK_CITY,FLAG_DOCUMENT_3,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,WALLSMATERIAL_MODE,TARGET,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_TYPE,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,DAYS_DECISION_mean_previous_app_data,CNT_PAYMENT_mean_previous_app_data,DAYS_FIRST_DRAWING_mean_previous_app_data,DAYS_FIRST_DUE_mean_previous_app_data,DAYS_LAST_DUE_1ST_VERSION_mean_previous_app_data,DAYS_LAST_DUE_mean_previous_app_data,DAYS_TERMINATION_mean_previous_app_data,NFLAG_INSURED_ON_APPROVAL_mean_previous_app_data,HOUR_APPR_PROCESS_START_mean_previous_app_data,NFLAG_LAST_APPL_IN_DAY_mean_previous_app_data,AMT_ANNUITY_mean_previous_app_data,AMT_APPLICATION_mean_previous_app_data,AMT_CREDIT_mean_previous_app_data,AMT_DOWN_PAYMENT_mean_previous_app_data,AMT_GOODS_PRICE_mean_previous_app_data,RATE_DOWN_PAYMENT_mean_previous_app_data,RATE_INTEREST_PRIMARY_mean_previous_app_data,RATE_INTEREST_PRIVILEGED_mean_previous_app_data,Cash_loans_from__contract_from_previous_table,Consumer_loans_from_contract_from_previous_table,Revolving_loans_from_contract_from_previous_table,XNA_from_contract_from_previous_table_x,N_loans_from_FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Y_from__FLAG_LAST_APPL_PER_CONTRACT_from_previous_table,Approved_from__contract_from_previous_table,Canceled_loans_from_contract_from_previous_table,Refused_from_contract_from_previous_table,Unused offer_from_contract_from_previous_table,Cash through the bank,Cashless from the account of the employer_name_from_contract_from_previous_table,Non-cash from your account_from_name_contract_from_previous_table,XNA_from_name_contract_from_previous_table,XNA_from__NAME_PRODUCT_TYPE_from_previous_table,walk_in_from_NAME_PRODUCT_TYPE_from_previous_table,x-sell_from_NAME_PRODUCT_TYPE_from_previous_table,XNA_from__NAME_YIELD_GROUP_from_previous_table,high_from_NAME_YIELD_GROUP_from_previous_table,low_action_from_NAME_YIELD_GROUP_from_previous_table,low_normal_from_NAME_YIELD_GROUP_from_previous_table,middle_from_NAME_YIELD_GROUP_from_previous_table,SK_DPD_std_pos_data,SK_DPD_DEF_std_pos_data,CNT_INSTALMENT_FUTURE_std_pos_data,CNT_INSTALMENT_mean_pos_data,MONTHS_BALANCE_max_pos_data,Active_contract_status_pos_table,Amortized_contract_status_pos_table,Approved_contract_status_pos_table,Canceled_contract_status_pos_table,Completed_contract_status_pos_table,Demand_contract_status_pos_table,Returned_contract_status_pos_table,Signed,XNA_from_contract_from_previous_table_y,DAYS_INSTALMENT_std_installments_payments,DAYS_ENTRY_PAYMENT_std_installments_payments,NUM_INSTALMENT_NUMBER_count_installments_payments,NUM_INSTALMENT_VERSION_nunique_installments_payments,AMT_INSTALMENT_sum_installments_payments,AMT_PAYMENT_sum_installments_payments,Active_contract_status_credit_table,Approved_contract_status_credit_table,Completed_contract_status_credit_table,Demand_contract_status_credit_table,Refused_contract_status_credit_table,prposal_contract_status_credit_table,Signed_contract_status_credit_table,MONTHS_BALANCE_max_credit_data,CNT_INSTALMENT_MATURE_CUM_sum_credit_data,SK_DPD_std_credit_data,SK_DPD_DEF_std_credit_data,AMT_BALANCE_mean_credit_data,AMT_CREDIT_LIMIT_ACTUAL_mean_credit_data,AMT_DRAWINGS_ATM_CURRENT_mean_credit_data,AMT_DRAWINGS_CURRENT_mean_credit_data,AMT_DRAWINGS_OTHER_CURRENT_mean_credit_data,AMT_DRAWINGS_POS_CURRENT_mean_credit_data,AMT_INST_MIN_REGULARITY_mean_credit_data,AMT_PAYMENT_CURRENT_mean_credit_data,AMT_PAYMENT_TOTAL_CURRENT_mean_credit_data,AMT_RECEIVABLE_PRINCIPAL_mean_credit_data,AMT_RECIVABLE_mean_credit_data,AMT_TOTAL_RECEIVABLE_mean_credit_data,CNT_DRAWINGS_ATM_CURRENT_mean_credit_data,CNT_DRAWINGS_CURRENT_mean_credit_data,CNT_DRAWINGS_OTHER_CURRENT_mean_credit_data,CNT_DRAWINGS_POS_CURRENT_mean_credit_data
0,100002.0,0.0,-9461.0,-637.0,-2120.0,1.0,2.0,2.0,10.0,0.0,1.0,202500.0,406597.5,24700.5,351000.0,0.018801,-3648.0,1.0,0.083037,0.262949,0.139376,0.024700,0.972200,0.000000,0.069000,0.083300,0.019000,0.000000,0.025200,0.972200,0.000000,0.069000,0.083300,0.019800,0.000000,0.025000,0.972200,0.000000,0.069000,0.083300,0.019300,0.000000,0.014900,2.0,2.0,-1134.0,1.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Laborers,WEDNESDAY,Business Entity Type 3,"Stone, brick",1.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-606.000000,24.000000,365243.0,-565.000000,125.000000,-25.000000,-17.000000,0.000000,9.000000,1.0,9251.775,179055.00,179055.00,0.00,179055.00,0.000000,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.627314,24.000000,-1.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,168.819430,172.058877,19.0,2.0,219625.695,219625.695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,-16765.0,-1188.0,-291.0,1.0,1.0,1.0,11.0,0.0,1.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-1186.0,2.0,0.311267,0.622246,0.535276,0.095900,0.985100,0.080000,0.034500,0.291700,0.054900,0.009800,0.092400,0.985100,0.080600,0.034500,0.291700,0.055400,0.000000,0.096800,0.985100,0.080000,0.034500,0.291700,0.055800,0.010000,0.071400,1.0,1.0,-828.0,0.0,F,N,N,State servant,Higher education,Married,Core staff,MONDAY,School,Block,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1305.000000,10.000000,365243.0,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667,14.666667,1.0,56553.990,435436.50,484191.00,3442.50,435436.50,0.050030,NaN,NaN,1.0,2.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,3.842811,10.107143,-18.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,757.453556,757.325432,25.0,2.0,1618864.650,1618864.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,-19046.0,-225.0,-2531.0,1.0,2.0,2.0,9.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-4260.0,1.0,0.272586,0.555912,0.729567,0.025206,0.470849,-0.000261,0.002226,0.026318,0.121398,0.005089,-0.001742,0.217779,0.003516,0.003384,0.142304,0.127024,0.000075,0.000545,0.231712,0.002464,0.031116,0.187131,0.116373,0.000110,0.114492,0.0,0.0,-815.0,0.0,M,Y,Y,Working,Secondary / secondary special,Single / not married,Laborers,MONDAY,Government,Panel,0.0,0.0,0.0,0.0,Revolving loans,0.0,0.0,-815.000000,4.000000,365243.0,-784.000000,-694.000000,-724.000000,-714.000000,0.000000,5.000000,1.0,5357.250,24282.00,20106.00,4860.00,24282.00,0.212008,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.707825,3.750000,-24.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30.000000,34.019602,3.0,2.0,21288.465,21288.465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,-19005.0,-3039.0,-2437.0,0.0,2.0,2.0,17.0,0.0,1.0,135000.0,312682.5,29686.5,297000.0,0.008019,-9833.0,2.0,0.309425,0.650442,0.535276,0.985202,0.494045,0.029242,0.960949,0.040093,0.267515,0.023633,0.156203,0.173594,-0.013866,0.308473,0.169275,0.337387,-0.006964,0.020599,0.254179,0.011039,0.927458,0.226234,0.282553,-0.000445,0.092209,2.0,2.0,-617.0,1.0,F,N,Y,Working,Secondary / secondary special,Civil marriage,Laborers,WEDNESDAY,Business Entity Type 3,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-272.444444,23.000000,365243.0,91066.500000,91584.000000,182477.500000,182481.750000,0.000000,14.666667,1.0,23651.175,272203.26,291695.50,34840.17,408304.89,0.163412,NaN,NaN,5.0,2.0,2.0,0.0,0.0,9.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,5.0,0.0,4.0,4.0,2.0,0.0,2.0,1.0,0.0,0.0,10.163272,12.000000,-1.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,178.373204,198.045744,16.0,2.0,1007153.415,1007153.415,6.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,270000.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN
4,100007.0,0.0,-19932.0,-3038.0,-3458.0,0.0,2.0,2.0,11.0,1.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-4311.0,1.0,0.272085,0.322738,0.535276,0.025285,0.474059,-0.000519,-0.000514,0.029303,0.130968,0.005942,-0.001721,0.220632,0.003516,0.020376,0.157001,0.117963,0.000075,0.000545,0.239679,0.002464,0.028830,0.185531,0.102443,0.000008,0.155555,0.0,0.0,-1106.0,0.0,M,N,Y,Working,Secondary / secondary special,Single / not married,Core staff,THURSDAY,Religion,Panel,0.0,0.0,0.0,0.0,Cash loans,0.0,0.0,-1222.833333,20.666667,365243.0,-1263.200000,-837.200000,72136.200000,72143.800000,0.600000,12.333333,1.0,12278.805,150530.25,166638.75,3390.75,150530.25,0.159516,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,6.312307,15.333333,-1.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,682.127529,679.657245,66.0,2.0,835985.340,806127.975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# save data

In [26]:
new_app_data.to_csv('left_app_data.csv', index=False)